.message{
  padding: 1.5rem;
  font-size: 1.0rem;
}

#disclaimer{
  font-size: 1.rem;
  color: rgb(112, 100, 100);
}


 #year, #income, #status{
  vertical-align: bottom;
  text-align: center;
  justify-self: center;
  height: 2.80rem;
  margin-left: 20px;
  margin-bottom: 10px;
  /* width: 30%; */
}

h4{
  margin: .25rem 0 .5rem 0;
}

#home-banner{
  width: 100%;
}

  @media screen and (min-width: 690px) {
    .card-panel{
    height: 25rem;
    padding: 10px;
  }
 }

.brand-logo{
  height: 2.5rem;
}

.row{
  float: none;
  display: inline-block;
  width: 100%;
}

